@model Practice_Web.Models.Entity.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>Changing Password</legend>
                @*@Html.HiddenFor(m => m.ID)
                @Html.HiddenFor(m => m.Account)*@

                @*<div>
                        Recent Password：@Html.EditorFor(m => m.Password)
                        <font color="red">@Html.ValidationMessageFor(m => m.Password)</font>
                    </div>
                    <br />*@

                <div>
                    @*@{Model.Password = ""; }*@
                    New Password：@Html.EditorFor(m => m.Password)
                    <font color="red">@Html.ValidationMessageFor(m => m.Password)</font>
                    <font color="red">@ViewBag.ServerMSG</font>
                </div>
                <br />

                @*<div>
                        Confirm Password：@Html.EditorFor(m => m.ConfirmPassword)
                        <font color="red">@Html.ValidationMessageFor(m => m.ConfirmPassword)</font>
                    </div>
                    <br />*@

                <div>
                    <input type="submit" value="Confirm" />
                </div>
            </fieldset>
        }
    </div>
</body>
</html>
